@font-face {
    font-family: font1;
    src: url(font1.ttf);
}
.background {
    background-image: url("UnicornVectorGradient_8.jpg");
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.menu {
    padding: 10px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    width: 500px;
    height: 400px;
}
.website1 {
    display: inline-block;
    width: 245.5px;
    height: 400px;
    background-color: rgba(255, 255, 255, .05);  
    backdrop-filter: blur(50px);
    border-radius: 5px;
    margin-right: 2.5px;
}
.website1:hover {
    transition-timing-function: ease;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(50px);

}

.website2 {
    display: inline-block;
    width: 245.5px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.05);  
    backdrop-filter: blur(50px);
    border-radius: 5px;
    margin-left: 2.5px;
}

.website2:hover {
    transition-timing-function: ease;
	transition: 0.2s;
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(50px);
}

.title {
    text-decoration: none;
    color: white;
    font-family: font1;
    font-size: 2.5rem;
    text-overflow: clip;
    text-align: center;

}
.description {
    text-align: center;
    color: white;
    font-family: font1;
    margin-top: 200px;
    margin-left: 10px;
}

.click1 {
    text-decoration: none;
}
.click2 {
    text-decoration: none;
}

