body {
    background: linear-gradient(144deg, #68d7c4, #68d1d7, #68bed7, #68a0d7, #6892d7, #687ed7, #686ad7, #7968d7);
    background-size: 1600% 1600%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
.menu {
    padding: 10px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    width: 500px;
    height: 400px;
}
.personal_page {
    display: inline-block;
    width: 245.5px;
    height: 400px;
    background-color: rgba(255, 255, 255, .04);  
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-right: 2.5px;

}
.website2 {
    display: inline-block;
    width: 245.5px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.04);  
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-left: 2.5px;

}