*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    color-scheme: dark;
}

.header_title {
    font-size: 3rem;
}

section {
    padding-block: 5rem;

}

/* have to do site-title*/
.wrapper {
    max-width: 70rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.section-title {
    font-size: 2.25rem;
}

.diagonal {
    --skew-angle: -4deg;
    --background: linear-gradient(
                    4deg,
                    #12c2e9,
                    #c471ed
                    );

    position: relative;
    isolation: isolate;
}

.diagonal ::after { 
    content: '';
    background: var(--background);
    position: absolute;
    inset: 0;
    /*sets the angle and sets it behind the color*/
    transform: skewY(var(--skew-angle));
    z-index: -1;
}





































/*table*/

table, td {
    border: 1px solid black;
    background-color: rgba(214, 214, 214, 0.28);
    padding: 5px;
    border-radius: 5px;
}

th {
    padding: 5px;
}

/*
h1 {
    font-size: 50px;
    font-family:'Georgia', Times, serif;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
}

h5 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*/



/*other*/


.container_timetable {
    background-color: antiquewhite;

}

.music_1_container {
    border-left: 3px solid rgba(171, 67, 203, 0.542);
    padding-left: 10px;
}

.music_2_container {
    border-left: 3px solid rgba(103, 170, 212, 0.811);
    padding-left: 10px;
}


