@font-face {
    font-family: font1;
    src: url(font1.ttf);
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
    color-scheme: dark;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}





.background_title {
    width: auto;
    height: 100vh;

    background-image: url("images/img2.jpg");
    background-position: left 50% bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*title*/

.title_div{
    font-size: 3rem;
    font-family: font1;
    color: white;
    background-image: linear-gradient(
                                    330deg,
                                    rgba(255, 255, 255, 0.1),
                                    rgb(50, 70, 160)
                                    );
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 0;
    border-radius: 7px;
}

.header {
    font-size: 2rem;
}

.madeby {
    font-size: 1.3rem;
    font-family: font1;
    color: white;
    line-height: 1;
}


/*section*/

.section_contents {
    background-color: rgba(152, 152, 152, 0.1);
}

main > header {
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

main > section {
    height: 100vh;
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

main > section:nth-child(odd) {
    background: #80ffd4;
}

main > section > div {
    font-size: 20px;
    font-weight: 700;
    color: #002aff;
}



.section1_1 {
    float: left;
    width: 50%;
    height: 100vh;
    background-image: url("images/img7.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
.section1_title_div {
    font-size: 2.5rem;
    font-family: font1;
    color: white;
    background-image: linear-gradient(
                                    330deg,
                                    rgba(255, 255, 255, 0.1),
                                    rgb(124, 154, 187)
                                    );
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 0;
    border-radius: 7px;
}
.section1_2 {
    float: right;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(
                                    330deg,
                                    rgb(10, 10, 10)70%,
                                    rgb(16, 32, 23)
                                    );
}
.section1_content_div {

    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3vw;
    font-size: 1.5rem;
    line-height: 1.5;
}
.test {
    background-color: rgba(27, 27, 27, 0.4);
    padding: 1px 30px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    
}


.section2_1 {
    background-image: url("images/img1.JPG");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3_1 {
    float: left;
    width: 60%;
    height: 100vh;
    background-image: linear-gradient(
                                    210deg,
                                    rgb(10, 10, 10)70%,
                                    rgb(16, 20, 32)
                                    );
}
.section3_2 {
    float: right;
    background-image: url("images/img10.jpg");
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% bottom 40%;
}

.section3_title_div {
    font-size: 2rem;
    font-family: font1;
    color: white;
    background-image: linear-gradient(
                                    20deg,
                                    rgba(255, 255, 255, 0.1),
                                    rgb(202, 212, 203)
                                    );
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 0;
    border-radius: 7px;
}

.section4_1 {
    float: left;
    background-image: url("images/img19new.jpg");
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% bottom 40%;
}
video {
    float: right;
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% bottom 40%;
    background-color: rgb(255, 255, 255);
}

.section5_1 {
    float: left;
    width: 50%;
    height: 100vh;
    background-image: url("images/img16.JPEG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% bottom 40%;
}
.section5_2 {
    float: right;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(
                                    140deg,
                                    rgb(10, 10, 10)70%,
                                    rgb(32, 16, 24)
                                    );
}

.wrapper {
    width: 100vw;
}

.section5_title_div {
    font-size: 2.5rem;
    font-family: font1;
    color: white;
    background-image: linear-gradient(
                                    330deg,
                                    rgba(255, 255, 255, 0.1),
                                    rgb(212, 189, 162)
                                    );
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 0;
    border-radius: 7px;
}

.section6_1 {
    float: left;
    width: 100%;
    height: 100vh;
    background-image: url("images/img17.JPEG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% bottom 40%;
}

.section7_1 {
    float: left;
    width: 60%;
    height: 100vh;
    background-image: linear-gradient(
                                    160deg,
                                    rgb(10, 10, 10)70%,
                                    rgb(51, 37, 21)
                                    );
}
.section7_2 {
    float: right;
    background-image: url("images/img5.jpg");
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% bottom 40%;
}

.section7_title_div {
    font-size: 2rem;
    font-family: font1;
    color: white;
    background-image: linear-gradient(
                                    20deg,
                                    rgba(255, 255, 255, 0.1),
                                    rgb(202, 212, 203)
                                    );
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 0;
    border-radius: 7px;
}

.section8_1 {
    float: left;
    background-image: url("images/img18.jpg");
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% bottom 40%;
}
video {
    float: right;
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% bottom 40%;
    background-color: rgb(255, 255, 255);
}
