@font-face {
    font-family: font1;
    src: url(font1.ttf);
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}





.background_title {
    width: auto;
    height: 100vh;

    background-image: url("images/img2.jpg");
    background-position: left 50% bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*title*/

.title_div{
    font-size: 3rem;
    font-family: font1;
    color: white;
    background-image: linear-gradient(
                                    330deg,
                                    rgba(255, 255, 255, 0.1),
                                    rgb(50, 70, 160)
                                    );
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 0;
    border-radius: 7px;
}

.header {
    font-size: 2rem;
}

.madeby {
    font-size: 1.3rem;
    font-family: font1;
    color: white;
    line-height: 1;
}


.header {
    font-size: 2rem;
}


/*section*/

.section_contents {
    background-color: rgba(152, 152, 152, 0.1);
}

main > header {
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

main > section {
    height: 100vh;
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

main > section:nth-child(odd) {
    background: #80ffd4;
}

main > section > div {
    font-size: 20px;
    font-weight: 700;
    color: #652e2e;
}



.section1_1 {
    float: left;
    width: 50vw;
    height: 100vh;
    background-image: url("images/img7.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.section1_2 {
    float: right;
    width: 50vw;
    height: 100vh;
}