@font-face {
    font-family: font1;
    src: url(font1.ttf);
}
@font-face {
    font-family: font2;
    src: url(font2.ttf);
}
@font-face {
    font-family: font2b;
    src: url(font2b.ttf);
}
@font-face {
    font-family: Cascadia;
    src: url(Cascadia.ttf);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    background-color: rgba(81, 0, 255, 0.948);
    height: 100vh;

    width: 100%;

    background-image: url("Background3.png");
    background-position: left 40% bottom 90%;
    background-repeat: no-repeat;
    background-size: cover;
}
.titlebox {
    background-color: rgba(188, 45, 45, 0.744);
    position: absolute;
    margin-top: 20vh;
    margin-left: 10%;
}
.name {
    font-size: 4rem;
    font-family: Cascadia;
    line-height: 0rem;
    color: white;
}
.myprojects {
    font-size: 2.5rem;
    font-family: Cascadia;
    line-height: 0rem;
    color: rgb(255, 255, 255);
}
.description_code {
    font-size: 1rem;
    font-family: Cascadia;
    line-height: 0rem;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
}


.blue{
    color: #82aaff;
}
.red{
    color: #f07178;
}
.purple{
    color: #c792ea;
}
.green{
    color: #c3e88d;
}
.white{
    color: #ffffff;
}

section {
    padding: 10px;
    background-color: red;
}