@font-face {
    font-family: font1;
    src: url(font1.ttf);
}
@font-face {
    font-family: font2;
    src: url(font2.ttf);
}
@font-face {
    font-family: font2b;
    src: url(font2b.ttf);
}
@font-face {
    font-family: Cascadia;
    src: url(Cascadia.ttf);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    background-color: rgba(81, 0, 255, 0.948);
    height: 100vh;

    width: 100%;

    background-image: url("Background4.png");
    background-position: left 40% bottom 90%;
    background-repeat: no-repeat;
    background-size: cover;
}
.titlebox {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 20vh;
    margin-left: 10%;
}
.name {
    font-size: 4rem;
    font-family: Cascadia;
    line-height: 0rem;
    color: white;
}
.myprojects {
    font-size: 2.5rem;
    font-family: Cascadia;
    line-height: 0rem;
    color: rgb(255, 255, 255);
}
.description_code {
    font-size: 1rem;
    font-family: Cascadia;
    line-height: 0rem;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
}


.blue{
    color: #82aaff;
}
.red{
    color: #f07178;
}
.purple{
    color: #c792ea;
}
.green{
    color: #c3e88d;
}
.white{
    color: #ffffff;
}

.container_s1{
    background-color: blue;
    margin-top: 15vh;
}
.div_one{
    background-color: red;
    float: left;
    width: 20%;
    position: relative;
    margin-left: 15%;

    margin-top: 15vh;
    height: 70vh;
    margin-bottom: 15vh;
    position: absolute;
    border-radius: 3px;

    background-image: url("gradient1.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.div_one:hover{
    width: 70%;
    transition-timing-function: ease;
	transition: 0.4s;
    z-index: 1;

    transform: scale(1.2);
    display: block;

}

.div_two{
    background-color: #82aaff;
    float: left;
    width: 20%;
    position: relative;
    margin-left: 40%;

    margin-top: 15vh;
    height: 70vh;
    margin-bottom: 15vh;
    position: absolute;
    border-radius: 3px;

    background-image: url("gradient2.png");
    background-repeat: no-repeat;
    background-size: cover;;

}
.div_two:hover{
    margin-left: 15%;
    width: 70%;
    transition-timing-function: ease;
	transition: 0.4s;
    z-index: 10;

    transform: scale(1.2);
    display: block;
}

.div_three{
    background-color: #c3e88d;
    float: left;
    width: 20%;
    position: relative;
    margin-left: 65%;

    margin-top: 15vh;
    height: 70vh;
    margin-bottom: 15vh;
    position: absolute;
    border-radius: 3px;

    background-image: url("gradient3.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.div_three:hover{
    margin-left: 15%;
    width: 70%;
    transition-timing-function: ease;
	transition: 0.4s;
    z-index: 1;

    transform: scale(1.2);
    display: block;
}

#div_four{
    position: absolute;
    background-color: rgb(242, 242, 242);
    color: rgb(172, 171, 171);

    left: 50%;

    font-family: font1;
    font-size: 1.3em;

    bottom: -91vh;
    width: 10%;
    margin-left: -5%;
    
    padding: 7px;
    border-radius: 3px;

    text-align: center;
}

.a {
    height: 100vh;
}

